<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="BedRest: Zend Framework 2 module">
            <directory>BedRest/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="report/coverage" charset="UTF-8"
             yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="report/clover.xml" />
        <log type="junit" target="report/junit.xml" logIncompleteSkipped="true"/>
    </logging>
</phpunit>
